<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xxxloli.zshmerchant">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 拍照  选择图片权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 文件读取的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 向SD卡中创建或者删除的权限。 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".Activity.FirstActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Activity.OpenShopActivity" />
        <activity android:name=".Activity.XXRZActivity" />
        <activity android:name=".Activity.IdentityAuthenticationActivity" />
        <activity android:name=".Activity.QualificationAuthenticationActivity" />
        <activity android:name=".Activity.ShopInfoActivity" />
        <activity android:name=".Activity.OrderingSystemActivity" />
        <activity android:name=".Activity.BusinessTimeActivity" />
        <activity android:name=".Activity.ShopQRcodeActivity" />
        <activity android:name=".Activity.CommodityActivity" />
        <activity android:name=".Activity.AddCommodityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.EditDishesActivity" />
        <activity android:name=".Activity." />
        <activity android:name=".Activity.NewMessageActivity" />
        <activity android:name=".Activity.MessageContentActivity" />
        <activity android:name=".Activity.OrderingEvaluateActivity" />
        <activity android:name=".Activity.BusinessAnalyzeActivity" />
        <activity android:name=".Activity.DistributionActivity" />
        <activity android:name=".Activity.DistributionServiceActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.MyAccountActivity" />
        <activity android:name=".Activity.AccountManageActivity" />
        <activity
            android:name=".Activity.LoginPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ChangePhoneActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.ComplainActivity" />

        <!-- 高德定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a2f96fa3700d25be1b74250544cdeaeb" />

        <activity android:name=".Activity.DomeActivity" />
        <activity android:name=".Activity.CommodityClassify_1_Activity" />
        <activity android:name=".Activity.CommodityClassify_2_Activity" />
        <activity android:name=".Activity.SpecificationActivity" />
        <activity android:name=".Activity.BuildactivityActivity" />
        <activity android:name=".Activity.MJActivity" />
        <activity android:name=".Activity.SelectCommodityImgActivity"></activity>
    </application>

</manifest>